/* Widget Demo */
.widget,
.widget * {
  box-sizing: border-box;
  font-family: sans-serif;
}

.widget {
  margin: 1em 0;
  padding: 1em;
  color: white;
  background: black;
}

/* Container Queries */
${containerQuery('.widget', el => 100 <= el.offsetWidth && el.offsetWidth < 200, `
  $this.widget {
    background: red;
  }
`)}

${containerQuery('.widget', el => 200 <= el.offsetWidth && el.offsetWidth < 300, `
  $this.widget {
    background: orange;
  }
`)}

${containerQuery('.widget', el => 300 <= el.offsetWidth && el.offsetWidth < 400, `
  $this.widget {
    background: yellow;
  }
`)}

${containerQuery('.widget', el => 400 <= el.offsetWidth && el.offsetWidth < 500, `
  $this.widget {
    background: lime;
  }
`)}

${containerQuery('.widget', el => 500 <= el.offsetWidth && el.offsetWidth < 600, `
  $this.widget {
    background: blue;
  }
`)}

${containerQuery('.widget', el => 600 <= el.offsetWidth && el.offsetWidth < 700, `
  $this.widget {
    background: indigo;
  }
`)}

${containerQuery('.widget', el => 700 <= el.offsetWidth, `
  $this.widget {
    background: purple;
  }
`)}